## Chat message integration creds for SendBird
SENDBIRD_APP_ID=appId
SENDBIRD_API_TOKEN=token
SENDBIRD_API_REQUEST_URL=https://api-{app-id}.sendbird.com

## Push notification integration creds for OneSignal
ONESIGNAL_APP_ID=appId
ONESIGNAL_API_KEY=apikey
ONESIGNAL_DEVICE_REGISTER_URL=https://someurl.com