## Chat message integration creds for SendBird
SENDBIRD_APP_ID=appId
SENDBIRD_API_TOKEN=token
SENDBIRD_API_REQUEST_URL=https://api-{app-id}.sendbird.com

## Push notification integration creds for OneSignal
ONESIGNAL_APP_ID=appId
ONESIGNAL_API_KEY=apikey
ONESIGNAL_DEVICE_REGISTER_URL=https://onesignal.com/api/v1/players
ONESIGNAL_NOTIFICATION_CREATE_URL=https://onesignal.com/api/v1/notifications

## System admin user Id. This userId must already exist, so it must be created manually via SendBird dashboard
SYSTEM_ADMIN_USER_ID=admin